{% extends 'base.html'%}

{% block content %}

<div class="container-mt-5">
    <div class="row">
        <div class="col-sm">
            <div class="formulario-profesor">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <br />
                {% for message in messages %}
                <div class="alert alert-primary alert-dismissible" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <br>
                <div class="card-5">
                    <div class="card-heading">
                        <h2 class="title">Añadir nuevo profesor</h2>
                        <div class="card-body">
                            <form class="registration-form" action="/gestion_profesores/new_profesor" method="POST">

                                <div class="form-group">
                                    <input type="text" class="form-control item" name="nombreProfesor"
                                        placeholder="Nombre" required="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control item" name="apellido1"
                                        placeholder="Primer Apellido" required="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control item" name="apellido2"
                                        placeholder="Segundo Apellido" required="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control item" name="email"
                                        placeholder="Correo Electrónico" required="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control item" name="password" placeholder="Password" required="true">
                                </div>
                                <div class="form-group">
                                    <p>Selecciona un instrumento</p>
                                    <select class="form-select" name="instrumento">
                                        {% for instrumento in instrumentos %}
                                        <option value={{instrumento.nombre}}>{{instrumento.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block crear-profesor">Crear Profesor</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            {% for profesor in profesores %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{profesor.nombre}}</h5>
                    <p class="card-text">{{profesor.instrumento}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>

{% endblock%}