{% extends 'base.html'%}

{% block content %}
<div class="row">
    <div class="col-sm">
        <div class="formulario-profesor shadow">
            <div class="card-5">
                <div class="card-heading">
                    <h2 class="title">Lista de Clases</h2>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Profesor</th>
                                        <th scope="col">Alumno</th>
                                        <th scope="col">Día</th>
                                        <th scope="col">Hora</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for clase in clases %}
                                    <tr>
                                        <td>{{clase.profesor}}</td>
                                        <td>{{clase.alumno}}</td>
                                        <td>{{clase.dia}}</td>
                                        <td>{{clase.hora}}</td>
                                        <td><a href="{{url_for('admin.borrar_clase', idprofe=clase.codigo_profesor, idalumno = clase.codigo_alumno, idhorario = clase.codigo_horario)}}"
                                            type="button" class="btn btn-danger flex-grow-1"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}