{% extends 'base.html'%}

{% block content %}


<div class="row">
    <div class="col-sm">
        <div class="formulario-profesor shadow">
            <div class="card-5">
                <div class="card-heading">
                    <h2 class="title">Añadir nuevo Alumno</h2>
                    <div class="card-body">
                        <form class="registration-form" action="{{url_for('admin.guardar_alumno')}}" method="POST">

                            <div class="form-group">
                                <input type="text" class="form-control item" name="nombreAlumno" placeholder="Nombre"
                                    required="true">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control item" name="apellido1"
                                    placeholder="Primer Apellido" required="true">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control item" name="apellido2"
                                    placeholder="Segundo Apellido" required="true">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control item" name="email"
                                    placeholder="Correo Electrónico" required="true">
                            </div>                            
                            <div class="form-group">
                                <input type="text" value="{{password}}" class="form-control item" name="password" placeholder="Password"
                                    required="true">
                            </div>
                            
                            <div class="form-group">
                                <button type="submit" class="btn btn-block crear-profesor">Crear Alumno</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="col-sm">
        <div class="formulario-profesor shadow">
            <div class="card-5">
                <div class="card-heading">
                    <h2 class="title">Lista de Alumnos</h2>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido1</th>
                                        <th scope="col">Apellido2</th>
                                        <th scope="col">Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for alumno in alumnos %}
                                    <tr>
                                        <th scope="row">{{alumno.alumno}}</th>
                                        <td>{{alumno.nombre}}</td>
                                        <td>{{alumno.apellido_1}}</td>
                                        <td>{{alumno.apellido_2}}</td>
                                        <td>{{alumno.email}}</td>
                                        <td><a href="{{url_for('admin.mostrar_perfil_alumno', id=alumno.codigo)}}"
                                                type="button" class="btn btn-primary flex-grow-1"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                                    <path
                                                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                                </svg></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    {% endblock%}