{% extends 'base.html'%}

{% block content %}
<div class="row">
    <div class="col-sm">
        <div class="formulario-profesor shadow">
            <div class="card-5">
                <div class="card-heading">
                    <h2 class="title">Modificar profesor</h2>
                    <div class="card-body">
                        <form class="registration-form" action="{{url_for('admin.formulario_update_profesor', id=profesor_to_update.codigo)}}" method="POST">

                            <div class="form-group">
                                <input type="text" value="{{profesor_to_update.nombre}}" class="form-control item"
                                    name="nombreProfesor" required="true">
                            </div>
                            <div class="form-group">
                                <input type="text" value="{{profesor_to_update.apellido_1}}" class="form-control item"
                                    name="apellido1" required="true">
                            </div>
                            <div class="form-group">
                                <input type="text" value="{{profesor_to_update.apellido_2}}" class="form-control item"
                                    name="apellido2" required="true">
                            </div>
                            <div class="form-group">
                                <input type="text" value="{{profesor_to_update.email}}" class="form-control item"
                                    name="email" required="true">
                            </div>
                            <div class="form-group">
                                <input type="text" value="{{profesor_to_update.password}}" class="form-control item"
                                    name="password" required="true">
                            </div>
                            <div class="form-group">
                                <p>Selecciona una materia</p>
                                <select class="form-select" name="materia">
                                    <option value={{profesor_to_update.materia}}>{{profesor_to_update.materia}}
                                    </option>
                                    {% for materia in materias %}
                                    <option value={{materia.codigo}}>{{materia.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-block crear-profesor">Modificar Profesor</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock%}