{% extends './base.html' %}

{% block content %}
<div class="registration-form text-center">

  <div class="card-5">
    <img class="mb-4" src="{{ url_for('static', filename='img/logo.png')}}" alt="" width="200" height="200">
    <h3 class="text-center mb-4"></h3>
    <form action="/login" class="login-form" method="POST">
      <div class="form-group">
        <input type="text" class="form-control item" name="usuario" placeholder="Username" required>
      </div>
      <div class="form-group d-flex">
        <input type="password" class="form-control item" name="password" placeholder="Password" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-block crear-profesor">Login</button>
      </div>
    </form>

    {% endblock%}